:root {
    --accent-color: #32CD32;
    --text-color: #676363;
    --background-darkest-color: #171412;
    --background-dark-color: #1A1815;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--text-color);
    background: linear-gradient(180deg, var(--background-darkest-color) 44.79%, var(--background-dark-color) 100%);
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

::-moz-selection {
    color: var(--background-darkest-color);
    background: var(--accent-color);
}

::selection {
    color: var(--background-darkest-color);
    background: var(--accent-color);
}

@media only screen and (max-width: 600px) {
    body {
        padding: 1rem;
    }
}