.main {
    max-width: 1000px;
    margin: auto auto;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.avatar {
    border-radius: 50%;
    filter: brightness(0.4);
    transition: filter 0.4s ease;
}

.main:hover .avatar {
    filter: brightness(1) !important;
}

.title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: .2rem;
}

.role {
    color: var(--accent-color);
    font-size: 20px;
    margin-bottom: 2rem;
}

.description {
    font-size: 16px;
    line-height: 26px;
    max-width: 550px;
    margin-bottom: .5rem;
}

.socialList {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-top: 3rem;
}

.socialList li:hover .icon {
    filter: grayscale(0);
}

.icon {
    fill: var(--accent-color);
    filter: grayscale(1) brightness(0.5);
    transition: filter 0.4s ease;
}